#footer{
    background-color: beige;
    width: 97%;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content:space-between;
    display: grid;
    padding-left: 1%;
    padding-right: 1%;
    align-content: center;
}
#footer #Links{
    display: flex;
    gap: 2%;
    height: 10%;
    text-align: center;
    align-content: center;
    text-decoration: none;
    font-family: "Google Sans", 'Times New Roman', Times, serif;;
    font-weight: 300;
    font-size: larger;
    margin-left: 3%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}
#footer #LinkSide{
    height: 10%;
    text-align: end;
    text-decoration: none;
    font-family: "Google Sans", 'Times New Roman', Times, serif;;
    font-weight: 300;
    font-size: larger;
    padding:  3% 2%;
}