h1 {
    font-family: "Google Sans", 'Times New Roman', Times, serif;
    color: rgb(99, 109, 99);
}

#googlefont{
  font-family: "Google Sans", 'Times New Roman', Times, serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "GRAD" 25;
}
body{
    background-color: hsl(180, 15%, 90%);

}
#navbar{
    background-color: antiquewhite;
    width:auto;
    /*height: 15%;*/
    /*border-left-width: 1%;
    border-right-width: 1%;*/
    padding-right: 1%;
    padding-left: 1%;
    position: sticky;
    visibility: visible;
    /*margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;*/
    color: black;
    display: flex;
    
    justify-content: space-between;

    flex-flow: row nowrap;
    align-items: center;
}
/*
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}*/
