h1 {
    font-family: "Google Sans", 'Times New Roman', Times, serif;
    color: rgb(99, 109, 99);
}

#googlefont{
  font-family: "Google Sans", 'Times New Roman', Times, serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "GRAD" 25;
}
body{
    background-color: hsl(180, 15%, 90%);

}