h1 {
    font-family: "Google Sans", 'Times New Roman', Times, serif;
    color: rgb(86, 95, 86);
}
h2 {
    font-family: "Google Sans", 'Times New Roman', Times, serif;
    color: rgb(26, 29, 26);
}
p{
  font-family: "Google Sans", 'Times New Roman', Times, serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "GRAD" 25;
}
body{
    background-color: hsl(180, 15%, 90%);

}
#PageContent{
    position: static; 
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#blogs{
    background-color: rgb(220, 182, 255);
    padding: 5px;
    margin: 5px;
    
}
#guides{
    background-color:  rgb(255, 214, 199);
    padding: 5px;
    margin: 5px;
}
