h1 {
    color: rgb(0, 0, 0);
    text-align: justify;
    font-family: "Google Sans", 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "GRAD" 25;

}
h2{
    text-align: justify;
    font-family: "Google Sans", 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "GRAD" 25;
}
p{
    text-align: justify;
    font-family: "Google Sans", 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "GRAD" 25;
}
body{
    background-color: hsl(180, 15%, 90%);

}

#pagecontent{
    position: static; 
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1%;
    align-items: center;
}
#imagedivider{
    grid-template-columns: 1fr 1fr;
    display: grid;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}
#top_image{
    width: 100%;
    margin-left: 0%;
    aspect-ratio: 1 / 0.3;
    overflow: hidden;
    max-height: 30%;
    
}
#content_image{
    width: 100%;
    margin-right: -5%;
    margin-left: -5%;
}


/*.wrapper {
    display: inline-block;
    background: lightgray;
    overflow: hidden;
    margin-left: -25%;
    width: 100;
    height: 30%;
    align-items: center;
}

.wrapper img {
    object-fit: contain;
    overflow: hidden;
}*/ 